h1 {
	/* Add your desired h1 styles here */
	font-size: 24px;
	font-weight: bold;
	color: #cbf9a3;
	text-decoration: none;
	/* Add more styles as needed */
  }
  
  a {
	  /* Add your desired h1 styles here */
	  font-size: 24px;
	  font-weight: bold;
	  color: #ff0051;
	  text-decoration: none;
	  /* Add more styles as needed */
	}
	